SUBSYSTEM=="input", KERNEL=="event[0-9]*", \
  ENV{ID_VENDOR_ID}=="17ef", ENV{ID_MODEL_ID}=="6161", \
  ENV{ID_INPUT_TOUCHSCREEN}=="1", \
  ENV{LIBINPUT_IGNORE_DEVICE}="1"
